In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_olympic = pd.read_csv("./input/olympic_medals.csv")
df_paris_2024 = df_olympic[df_olympic.Olympiad=="Paris 2024"]
df_paris_2024.head(2)

,Olympiad,Discipline,Event,Winner,Medal_type,Olympic_city,Olympic_year,Olympic_season,Gender,Code,Committee,Committee_type
20433,Paris 2024,Athletics,Women's 800m,Tsige Duguma,Silver,Paris,2024,summer,Women,ETH,Ethiopia,Country
20434,Paris 2024,Athletics,"Men's 10,000m",Berihu Aregawi,Silver,Paris,2024,summer,Men,ETH,Ethiopia,Country

In [7]:
medal_counts = (
    df_paris_2024.groupby(["Committee", "Code","Medal_type"])    
    .size()
    .unstack(fill_value=0) # Turn Medal_type into columns
    .reset_index()
)

medal_counts["Total"] = medal_counts[["Gold", "Silver", "Bronze"]].sum(axis=1)
medal_counts.sample(3)

Medal_type           Committee Code  Bronze  Gold  Silver  Total
25                    Dominica  DMA       0     2       0      2
45                        Iran  IRI       6     6      12     24
26          Dominican Republic  DOM       4     2       0      6